
<div id="logo">
</div>

 <div id="timeline">

     <div id="twitter_card">
         <a href='http://localhost:5000/auth/evernote'><img src="images/evernote_connect.jpg" /></a>
     </div><br><br><br><br><br><br><br><br>
     <div id="twitter_card">
         <h2 style="font-family: 'Noto Sans', sans-serif; font-size:24px; color:#fff;">@RizkHany - @varek</h2>
     </div>


     </div>
     </body>
     </html>