
<div id="logo">
</div>


<div id="timeline">

<div id="twitter_card">
  <a href='http://localhost:5000/auth/twitter'><img src="images/facebook_connect.jpg" style="margin-bottom:15px;" /></a>
  <a href='http://localhost:5000/auth/facebook'><img src="images/twitter_connect.jpg" style="margin-bottom:15px;" /></a><br>
  <a href='http://localhost:5000/auth/eyeem'><img src="images/eyeem_connect.jpg" /></a><br>
</div>
</div>